.arrange-list-container{
    /*以fixed的方式固定mescroll的高度*/
    .mescroll {
        position: fixed;
        // bottom: px2rem(50);
        // top: px2rem(360);// 值待定
        height: auto;
    }
    
    .common-order-item:nth-child(1){
        margin-top: 0;
    }

    .location {
        display: flex;
        align-items: center;
        
        img {
            display: block;
            width: px2rem(32);
            height: px2rem(32);
        }
    }

    .completed-order-color {
        color: #ffc000;
    }
    .cancel-order-color {
        color: #000;
    }
}